
.mycard {
  @apply bg-zinc-700 justify-between cursor-pointer max-w-xs rounded-xl shadow-slate-800 shadow-xl mx-auto my-10 flex hover:scale-105 ease-in-out duration-200 hover:shadow-slate-900 hover:shadow-2xl;
}

.card-text {
  @apply tracking-wider font-playfair text-4xl text-white opacity-80 ml-8 mt-12 absolute z-10;
}

.bg-gradient1 {
  background: rgb(255,193,193);
  background: linear-gradient(49deg, rgba(255,193,193,1) 0%, rgba(255,220,193,1) 100%);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 1rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 250px;
  width: 200px;
  margin: 3rem;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.heading {
  @apply text-5xl font-roboto p-10;
}

.para-cards {
  @apply p-10 sm:flex gap-10;
}


@media screen {
  .para-cards p {
    @apply pb-3;
  }
}





  

